@import 'helpers';
@import 'animations';

.landing {
  $bg-opacity: 0.9;

  align-items: center;
  background:
    linear-gradient(to bottom, rgba($pastel--d, $bg-opacity), rgba($pastel, $bg-opacity)),
    url('./assets/bg.jpg');
  display: flex;
  min-height: 100vh;
  min-height: calc(100vh - 1.9em);
  position: relative;

  @include from-portrait() {
    padding: 0;
  }
}

.landing-wrapper {
  @include from-landscape() {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.header {
  align-items: center;
  display: flex;
  flex: 1 5 auto;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1.25;
  text-shadow: 1px 1px 3px $softshadow;

  @include from-landscape() {
    flex: 0;
    margin-right: 5rem;
  }
}

.avatar {
  animation: slowSwing 5s 1.5s infinite linear;
  display: inline-block;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  max-width: 20rem;
  position: relative;
  transition: all 1.5s ease-in-out;

  img {
    border-radius: 50%;
  }

  // Avatar's border
  &::before {
    border: 1px solid $pastel--d;
    border-radius: 50%;
    bottom: 7px;
    box-shadow: inset 0 0 12px 3px rgba($softshadow, 0.7), 1px 1px 0 1px $blue--d, 1px -1px 0 2px $pastel--d, 0 0 24px 8px $softshadow;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.scroll-past-nav {
  .avatar {
    animation: none;
    transform: rotate(360deg);
  }
}

.heading {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

// Patryk poniak
.heading-text {
  flex: 0;
}

.bracket {
  line-height: 0;
  padding-left: 0.5rem;
  padding-top: 1.4rem;

  &::after {
    color: $blue;
    content: '{';
    font-size: 7.4rem;
    font-weight: normal;
  }
}

// Front-end developer
.sub-text {
  font-size: 1.3rem;
  font-weight: 100;
  margin-top: 0.5rem;
  white-space: nowrap;

  @include from-portrait() {
    font-size: 1.7rem;
    margin-top: 1rem;
  }
}

.about {
  border-top: 1px solid $blue;
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1.5rem;
  padding: 1.5rem 0;

  @include from-landscape() {
    border: 0;
  }
}

.about-header {
  font-size: 1.45rem;
  font-weight: 300;

  @include from-landscape {
    border-bottom: 2px solid $blue;
    margin-bottom: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.about-text {
  max-width: 42rem;

  @include from-landscape() {
    max-width: 400px;
  }
}
