@import 'helpers';

$background: $pastel--d;
$foreground: $blue;

.projects-section {
  background: $gray--d url('./assets/triangles.png');
  border-top: 1px solid $gray--l;
  box-shadow: 0 -1px 24px 5px $overlay;
  color: $pastel--d;
  overflow: hidden;
  position: relative;
}

.projects-list {
  @extend %list-reset;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: 1fr;

  @include from-landscape() { grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr); }
  @include from-desktop() { grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr); }
}

.project-card {
  align-items: flex-end;
  background: $pastel--d no-repeat top left/cover;
  box-shadow: 1px 1px 7px $softshadow;
  color: #fff;
  display: flex;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out;

  @include to-mobile() {
    &:nth-child(even) {
      .project-header { text-align: right; }
      .project-tags { order: -1; }
    }
  }

  @include from-portrait() {
    margin-left: auto;
    margin-right: auto;
    max-width: 26rem;
  }

  @include from-desktop() {
    &:hover {
      box-shadow: 2px 2px 12px 2px $softshadow;
  
      .project-content {
        background-color: rgba($pastel--d, 0.95);
        transform: translateY(0);
      }
    }
  }
}

.project-content {
  background-color: rgba($pastel--d, 0.95);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.4rem;
  transition: transform 0.4s ease-out;
  width: 100%;
  @include from-desktop() {
    background-color: rgba($pastel--d, 0.7);
    transform: translateY(calc(100% - 4.25rem));
  }
}

.project-header {
  align-items: center;
  display: flex;
}

.project-title {
  flex: 1;
  font-size: 1.2rem;
}

.project-description {
  margin-bottom: 0.9rem;
  margin-top: 1rem;
}

.project-tags {
  @extend %list-reset;
  display: flex;
}

.project-tag {
  $size: 1.4rem;
  align-items: center;
  border: 0;
  border-radius: 1px;
  display: flex;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  height: $size;
  justify-content: center;
  line-height: 0;
  margin-left: 0.4rem;
  opacity: 0.65;
  overflow: visible;
  position: relative;
  text-align: center;
  width: $size;

  // Tag tooltip
  &::before {
    border-radius: 5px 0 5px 5px;
    content: attr(data-tooltip);
    display: block;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 0.5;
    padding: 0.7rem 0.4rem;
    pointer-events: none;
    position: absolute;
    right: 98%;
    text-align: center;
    top: 70%;
    transform: scale(0);
    transform-origin: 100% 0;
    transition: transform 0.25s ease-out;
    white-space: nowrap;
    z-index: 2;
  }

  &:hover {
    cursor: help;
    opacity: 1;

    &::before {
      transform: scale(1);
    }
  }
}

.project-links {
  @extend %list-reset;
  display: flex;
  justify-content: center;
  margin-top: auto;
  @include from-desktop() {
    justify-content: flex-end;
  }
}

.project-link-item:not(:first-child) {
  margin-left: 0.6rem;
}

.project-link {
  $size: 2.45rem;
  border-radius: 4px;
  font-size: 1.3rem;
  height: $size;
  margin-left: 0;
  opacity: 0.9;
  width: $size;

  &:hover {
    color: currentColor;
    cursor: pointer;
    opacity: 1;
  }
}

.wp,
.wp::before { 
  background-color: $gray--l;
  color: $pastel--d; 
}

.web,
.web::before { 
  background-color: $gray--l;
  color: $blue; 
}

.js,
.js::before { 
  background-color: $jsyellow;
  color: #000; 
}

.react,
.react::before { 
  background-color: #000;
  color: $reactblue; 
}

.vue,
.vue::before { 
  background-color: $gray--l;
  color: $vuegreen; 
}

.game,
.game::before { 
  background-color: $green--l;
  color: $phaserpurple; 
}

.live,
.live::before { 
  background-color: $darkblue;
  color: #fff; 
}

.info,
.info::before { 
  background-color: $blue;
  color: #fff; 
}

.github,
.github::before { 
  background-color: $gray--d;
  color: #000; 
}

.node,
.node::before { 
  background-color: $contactgreen;
  color: #000; 
}
