@import 'helpers';
@import 'animations';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(0.6vh + 0.85em);
}

$basefonts: 'Ubuntu', 'Helvetica', 'Arial';

body {
  background-color: $almostblack;
  color: $gray--l;
  font-family: $basefonts;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

// Basic typography
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }

h4,
h5 { font-size: 1.25rem; }

p { margin: 0; }
p + p { margin-top: 1rem; }

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    color: $blue--d;
  }
}
