$base-font: 16px;
@function Em($px) {
  @return ($px/$base-font) * 1em;
}

$mobile: Em(599px);
$portrait: Em(600px);
$landscape: Em(900px);
$desktop: Em(1200px);
$desktop-wide: Em(1800px);

@mixin to-mobile() {
  @media (max-width: $mobile) { @content; }
}

@mixin from-portrait() {
  @media (min-width: $portrait) { @content; }
}

@mixin from-landscape() {
  @media (min-width: $landscape) { @content; }
}

@mixin from-desktop() {
  @media (min-width: $desktop) { @content; }
}

%list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
