$base-font: 16px;

@function em($px) {
  @return ($px/$base-font) * 1em;
}

$mobile: em(599px);
$portrait: em(600px);
$tablet: em(730px);
$landscape: em(900px);
$desktop: em(1200px);
$desktop-wide: em(1800px);

@mixin to-mobile() {
  @media (max-width: $mobile) { @content; }
}

@mixin from-portrait() {
  @media (min-width: $portrait) { @content; }
}

@mixin from-tablet() {
  @media (min-width: $tablet) { @content; }
}
@mixin from-landscape() {
  @media (min-width: $landscape) { @content; }
}

@mixin from-desktop() {
  @media (min-width: $desktop) { @content; }
}

%list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
