// Typography
$line-height: 1.5;
$text-small: .7rem;

// Colors
$gray--l: #fafafa;
$gray: #e8e8e8;
$gray--d: #CCCCCC;
$darkgray: #C2C2C2;

$blue--l: #47B3FF;
$blue: #0096ff;
$blue--d: #0077CC;
$darkblue: #006BB8;

$pastel--l: #386E94;
$pastel: #29516D;
$pastel--d: #162C3B;
$darkpastel: #11212C;

$gold--l: #D1BA75;
$gold: #C2A347;
$gold--d: #998033;
$darkgold: #8A732E;

$orange--d: #CC7A00;
$orange: #FF9700;
$orange--l: #FFB647;
$darkorange: #B86E00;

$jsyellow: #f0db4f;
$reactblue: #61dafb;
$vuegreen: #4fc08d;
$phaserpurple: #99388c;

$green--l: #0AFFE2;
$green: #00CCB4;
$green--d: #008F7E;
$darkgreen: #007A6C;
$contactgreen: #00A390;

$almostblack: #141517;

$softshadow: rgba(0,0,0,.5);
$shadow: rgba(0,0,0,.75);
$overlay: rgba(0,0,0,.1);

$icomoon-font-path: "../fonts";

// ===============================================
// Notes about colors:
// https://color.adobe.com
// http://colllor.com/
// &--l - +3
// base
// &--d - -3
// dark& - -4
