// Typography
$line-height: 1.5;
$size-small: 0.7rem;

// Colors
$gray--l: #fafafa;
$gray: #e8e8e8;
$gray--d: #ccc;
$darkgray: #c2c2c2;

$blue--l: #47b3ff;
$blue: #0096ff;
$blue--d: #07c;
$darkblue: #006bb8;

$pastel--l: #386e94;
$pastel: #29516d;
$pastel--d: #162c3b;
$darkpastel: #11212c;

$gold--l: #d1ba75;
$gold: #c2a347;
$gold--d: #998033;
$darkgold: #8a732e;

$orange--d: #cc7a00;
$orange: #ff9700;
$orange--l: #ffb647;
$darkorange: #b86e00;

$jsyellow: #f0db4f;
$reactblue: #61dafb;
$vuegreen: #4fc08d;
$phaserpurple: #99388c;

$green--l: #0affe2;
$green: #00ccb4;
$green--d: #008f7e;
$darkgreen: #007a6c;
$contactgreen: #00a390;

$almostblack: #141517;

$softshadow: rgba(0, 0, 0, 0.5);
$shadow: rgba(0, 0, 0, 0.75);
$overlay: rgba(0, 0, 0, 0.1);

$icomoon-font-path: '../fonts';

// ===============================================
// Notes about colors:
// https://color.adobe.com
// http://colllor.com/
// &--l - +3
// base
// &--d - -3
// dark& - -4
